<p>
    <button id="buttonOne" class="float-left submit-button" >Add a new user</button>

    <script type="text/javascript">
        document.getElementById("buttonOne").onclick = function () {
            location.href = "http://127.0.0.1:5000/add";
        };
    </script>
</p>

<p>
    <button id="buttonTwo" class="float-left submit-button" >Update existing user</button>

    <script type="text/javascript">
        document.getElementById("buttonTwo").onclick = function () {
            location.href = "http://127.0.0.1:5000/update";
        };
    </script>
</p>

<br>

<p>
    <button id="buttonThree" class="float-left submit-button" >Look up existing user</button>

    <script type="text/javascript">
        document.getElementById("buttonThree").onclick = function () {
            location.href = "http://127.0.0.1:5000/display";
        };
    </script>
</p>

<p>
    <button id="buttonFour" class="float-left submit-button" >Dsiplay all users</button>

    <script type="text/javascript">
        document.getElementById("buttonFour").onclick = function () {
            location.href = "http://127.0.0.1:5000/display_all";
        };
    </script>
</p>

<br>

<p>
    <button id="buttonFive" class="float-left submit-button" >Delete existing user</button>

    <script type="text/javascript">
        document.getElementById("buttonFive").onclick = function () {
            location.href = "http://127.0.0.1:5000/delete";
        };
    </script>
</p>

<p>
    <button id="buttonSix" class="float-left submit-button" >Delete ALL users</button>

    <script type="text/javascript">
        document.getElementById("buttonSix").onclick = function () {
            location.href = "http://127.0.0.1:5000/delete_all";
        };
    </script>
</p>

